.root {
  background: linear-gradient(#1e1e2f, #1e1e24);
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-top: 0px;
}
#root {
  background: linear-gradient(#1e1e2f, #1e1e24);
  height: 100vh;
}
.card {
  background-color: #27293d !important;
  transition: background-color 0.5s ease;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.row {
  padding: 10px 0 10px 0;
}

.autoHeightWidth {
  display: grid;
  width: calc(100%);
  height: 100%;
}
.second {
  display: grid;
  width: cal(100% / 3 * 2);;
  height: 100%;
}
.third {
  display: grid;
  width: cal(100% / 3 * 3);
  height: 100%;
}

.imagesBack {
  /* position:relative; */
  height:53vh;
  background-color: #27293d !important;
  transition: background-color 0.5s ease;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.imgDiv {
  max-width: 100%;
  height: 100%;
  -webkit-animation: slide-in-right 0.5s linear;
  animation: slide-in-right 0.5s linear;
  /* opacity: 0;  make it transparent */
}
.cardStyle {
  display: flex;
  align-items: center;
  /* height: 90%; */
}

.statcards {
    height: 100%;
    display: flex;
    justify-content: center;
}